/* ESTILOS GERAIS */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

/* MENU */

.cabecalho {
  background-color: #177671;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

#cabecalho-menu {
  display: flex;
  gap: 16px;
}

#cabecalho-menu li {
  display: inline-block;
  padding: 8px;
}

#cabecalho-menu li:hover {
  display: inline-block;
  padding: 8px;
  background-color: #0d4c49;
  border-radius: 8px;
}

#menu-hamburguer {
  display: none;
  width: 28px;
}

@media all and (max-width: 480px) {
  #menu-hamburguer {
    display: block;
  }
  #cabecalho-menu {
    display: none;
    position: absolute;
    background-color: #0d4c49;
    top: 72px;
    left: 0px;
    width: 100%;
  }
  #cabecalho-menu li {
    display: block;
    padding: 12px;
    text-align: center;
  }

  #cabecalho-menu li {
    display: block;
    padding: 12px;
    text-align: center;
  }
}

/* BANNER E CONTEÚDO */

#banner {
  width: 100vw;
  height: 512px;

  background: white;
}

#content1 {
  width: 100vw;
  height: 512px;

  background: #5a6983;
}

#content2 {
  width: 100vw;
  height: 512px;

  background: white;
}

/* RODAPÉ */

#rodape {
  width: 100vw;
  height: 272px;

  background: #3f495a;
}

#rodape-logo {
  height: auto;
  float: left;
  max-width: 25%;
  margin-top: 15px;
}

#rodape-container {
  display: inline-block;
  width: 100vw;
  height: 176px;

  margin-top: 48px;
}

#title {
  margin-top: 10px;
}

#mapa-rows,
#sobre-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  gap: 12px;
  margin-top: 15px;
  margin-right: 60px;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
}
#menu-sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  gap: 12px;
  margin-right: 49px;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
}
#menu-mapa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  gap: 12px;
  margin-right: 49px;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
}
