/* NAV */

nav {
  background-color: #441986;
}

/* BANNER */

.banner {
  width: 100vw;
  height: 680px;
  background: white;
  background-image: url(img/Background.png);
  background-size: cover;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-texto {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 56px;
}

.big-button-a {
  background-color: #835ed7;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 16px 40px;
  border-radius: 80px;
}
